body {
     margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("assets/point-clip-game-art.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.start-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

#start-btn {
    background-color:white;
    border: none;
    color: rgb(4, 42, 4);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#start-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.944);
    text-decoration: underline;
}
